.formulario-campo{
    gap:16px;
    flex: 1;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    align-items: center;

}
.formulario-campo label{
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 font-weight: 400;
    
}
.formulario-campo input{
     gap:16px;
    flex: 1;
    display: flex;
}
.formulario-campo input,
.formulario-campo select,
.formulario-campo textarea {
    width: 300px;
    justify-content: flex-end;
}
body{
    background-color:  green;
}
h1{
    text-align: center;
   font-family: Georgia, 'Times New Roman', Times, serif;
   color: black;
   border-radius: 30px;
   border: 10px solid  black;
  background-color: gainsboro;
}
a{
    border-radius: 30px;
    border: 4px solid  black;
    color: black;
    background-color: gainsboro;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    color: green;
    padding: 0.5rem 0;
}
.navbar ul{
    display: flex;
    gap: 4px;
    list-style: none;
justify-content: center;
padding: 0;
margin: 0;
}
.navbar ul li a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}
.navbar ul li a:hover{
    background-color: darkgreen;
}
.navbar ul li a.active{
    background-color: black;
    color: aqua;
    font-weight: bolder;
}p{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: ghostwhite}
img{
    width: 800px;
     border: 4px solid gainsboro;
    border-radius: 30px;
}
div{
    text-align: center;
}